@import '../lib/helper';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none
}

*::before {
  box-sizing: border-box
}

*::after {
  box-sizing: border-box
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

pre {
  font-family: Consolas, monospace, serif;
}

.la-site-pages {
  min-height: 100vh;
  background: #9dc7f3;
}

.la-site-header {
  padding-left: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  background: #ffffff;

  .logo {
    display: flex;
    align-items: flex-end;

    .logo-img {
      background-color: $main-color;

      >img {
        max-width: 100%;
      }
    }

    >span {
      margin: 0 0 12px 20px;
      font-size: 1.4em;
      font-weight: bold;
      color: $main-color;
    }
  }
}

.la-site-sider {
  margin: 8px;
  padding: 6px 0;
  background: #ffffff;
  border-radius: 4px;

  h2 {
    padding: 6px;
    border-bottom: 1px solid #e5e9ef;
  }

  ul {
    >li {
      margin-bottom: .6em;

      a {
        display: inline-block;
        width: 100%;
        padding: 6px;
        color: #666666;

        &:hover {
          color: $main-color;
        }

        &.active {
          color: #ffffff;
          background: $main-color;
        }
      }
    }
  }
}

.la-site-main {
  margin: 8px 8px 8px 0;
  padding: 1em;
  background: #ffffff;
  border-radius: 4px;
}

.la-site-footer {
  margin-top: .4em;
  padding: 1.8em 0 1.8em;
  font-size: .8em;
  color: #99a2aa;
  text-align: center;
  background-color: #f6f9fa;
}

//btn 临时样式
button {
  box-sizing: border-box;
  margin: 0 4px;
  height: 32px;
  border-radius: 4px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}