[class^=llane-ui] {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

//btn 临时样式
button {
  box-sizing: border-box;
  margin: 0 4px;
  height: 32px;
  border-radius: 4px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}